body {
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative; 
    z-index: 1; 
}

body::before {
    content: "";
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/naruto_bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.75; 
    z-index: -1; 
}

